@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot');
  src:  url('./fonts/icomoon.eot') format('embedded-opentype'),
    url('./fonts/icomoon.ttf') format('truetype'),
    url('./fonts/icomoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-star-empty:before {
  content: "\e9d7";
}
.icon-star-full:before {
  content: "\e9d9";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-brand:before {
  content: "\e903";
}
.icon-tweet:before {
  content: "\e903";
}
.icon-social:before {
  content: "\e903";
}
.icon-map:before {
  content: "\e900";
}
.icon-guide:before {
  content: "\e900";
}
.icon-location:before {
  content: "\e901";
}
.icon-map-marker:before {
  content: "\e901";
}
.icon-pin:before {
  content: "\e901";
}
.icon-location2:before {
  content: "\e902";
}
.icon-map-marker2:before {
  content: "\e902";
}
.icon-pin2:before {
  content: "\e902";
}
